<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.panama.model.mapper.TblCartMapper">

	<select id="findByUserId"
		resultType="jp.co.internous.panama.model.domain.dto.CartDto">
		SELECT c.id,
		p.image_full_path,
		p.product_name,
		p.price,
		c.product_count,
		(c.product_count * p.price) AS subtotal,
		c.updated_at,
		c.created_at
		FROM tbl_cart AS c
		JOIN mst_product AS p
		ON c.product_id = p.id
		WHERE c.user_id = #{userId}
		ORDER BY updated_at DESC, created_at DESC;
	</select>

	<delete id="deleteById">
		DELETE
		FROM tbl_cart
		WHERE id IN
		<foreach item="checkedId" index="index" collection="checkedIds" open="(" separator="," close=")"> #{checkedId}</foreach>
	</delete>

</mapper>